.App {
  text-align: center;
}
body{
  background-color: rgb(9, 0, 48);
}

.myForm{
  margin: 0 auto;
  max-width: 400px;
}
.myNav{
  background-color: rgb(161, 0, 0) !important;
  margin-bottom: 30px;
}
.bleu{
  color: rgb(9, 0, 48) ;
}
.mySubmit{
  margin-top: 10px;
  background-color: rgb(161, 0, 0);
  border: none;
}
